{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Про наш проєкт</h1>
    <p style="font-size: 18px; line-height: 1.6; color: #4b5563;">
        Цей веб-ресурс створено як навчальний проєкт з розробки на Django. 
        Він дозволяє динамічно керувати книжковим каталогом, залишати відгуки та стежити за прогресом читання в реальному часі.
    </p>
    <br>
    <a href="/" style="display: inline-block; padding: 10px 20px; background-color: #38bdf8; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;">⬅️ Повернутися на головну</a>
{% endblock %}