{% extends 'base.html' %}

{% block content %}
    <h1>Книги в жанрі: <span style="color:#0284c7;">{{ category.name }}</span></h1>
    <p style="color:#6b7280; margin-bottom:30px;">{{ category.description }}</p>

    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); gap: 25px;">
        {% for book in books %}
            <div style="background: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.05); border: 1px solid #e5e7eb;">
                {% if book.image %}
                    <img src="{{ book.image.url }}" style="width:100%; height:250px; object-fit:cover; border-radius:5px; margin-bottom:15px;" alt="">
                {% else %}
                    <div style="width:100%; height:250px; background:#e5e7eb; border-radius:5px; margin-bottom:15px; display:flex; align-items:center; justify-content:center; color:#9ca3af;">Немає обкладинки</div>
                {% endif %}
                <h3><a href="/book/{{ book.id }}/" style="color:#111827; text-decoration:none;">{{ book.title }}</a></h3>
                <p style="color:#6b7280; font-style:italic;">Автор: {{ book.author }}</p>
                <button class="btn-buy" disabled>Додати в читане (Недоступно)</button>
            </div>
        {% empty %}
            <p>У цьому жанрі книг поки немає.</p>
        {% endfor %}
    </div>
    <br><br>
    <a href="/" style="color:#0284c7; text-decoration:none; font-weight:bold;">⬅️ Повернутися на головну</a>
{% endblock %}